{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My Cart!-An Ecommerce Website</h1>

    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Description:</h2>
        <p>This is a Django web based project. The project objective is to deliver the online shopping through a website and it also provide a secure payment gateways. </p>

      </div>
      <div class="col-md-4">
        <h2>Tools And Technologies</h2>
        <p>
          For Structure and Styling of Website...
        <ul><li>Html</li>
        <li>CSS</li>
        <li>Bootstrap</li>
      </ul>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Database & Backend Language</h2>
        <ul> <li>DbSqlite is used as database</li>
        <li>Python is used in backend</li>
        </ul>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
